<p-toolbar>
  <div class="p-toolbar-group-start">
    Project: {{data.name}} - {{data.description}}
  </div>
</p-toolbar>

<p-table #dt1 [value]="data.projects" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="10"
  [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[10, 25, 50]" [scrollable]="true" scrollHeight="calc(90vh - 200px)"
  [styleClass]="'p-datatable-sm'" [globalFilterFields]="globalFilterFields">

  <ng-template pTemplate="caption">
    <div class="flex">
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input #filterInput pInputText type="text" (input)="dt1.filterGlobal(filterInput.value, 'contains')"
          placeholder="Search keyword" />
      </span>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>Version</th>
      <th style="width: 5rem"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-project>
    <tr>
      <td>{{ project.version }}
        @if(isDefaultVersion(project)) {
        <i class="pi pi-star-fill"></i>
        }
      </td>
      <td>
        <button type="button" pButton pRipple icon="pi pi-external-link" (click)="openVersion(project)"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      In total there are {{data.projects ? data.projects.length : 0 }} versions.
    </div>
  </ng-template>
</p-table>