<p-table [value]="projects" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="10"
  [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[10, 25, 50]" [scrollable]="true" scrollHeight="90vh">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th style="width: 5rem"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-project>
    <tr>
      <td>{{ project.name }}</td>
      <td>{{ project.description }}</td>
      <td>
        <div style="display: flex">
          <button type="button" pButton pRipple icon="pi pi-angle-right" (click)="selectProjectVersion(project)"></button>
          <button type="button" pButton pRipple icon="pi pi-external-link" (click)="openDefaultVersion(project)"></button>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      In total there are {{projects ? projects.length : 0 }} projects.
    </div>
  </ng-template>
</p-table>
