@import "primeng/resources/themes/bootstrap4-dark-blue/theme.css";
@import "primeng/resources/primeng.css";

@import "primeicons/primeicons.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// p-sidebar div.p-sidebar {
//     position: relative !important;
// }