<p-toolbar>
  <div class="p-toolbar-group-start">
    Project: {{data.projectVersion.name}} - {{data.version}}
  </div>
  <div class="p-toolbar-group-end">
    <!-- <p-button (click)="sidebarVisible = true" icon="pi pi-arrow-right"></p-button> -->
    <p-selectButton [options]="toggleOptions" [(ngModel)]="toggleValue" optionLabel="name"
      optionValue="value"></p-selectButton>
  </div>
</p-toolbar>
<!-- <div style="display: flex"> -->

@switch (toggleValue) {
@case (1) {
<p-table #dt1 dataKey="id" selectionMode="single" (onRowSelect)="onRowSelect($event)"
  (onRowUnselect)="onRowUnselect($event)" [value]="data.applications" [tableStyle]="{ 'min-width': '50rem' }"
  [paginator]="true" [rows]="10" [showCurrentPageReport]="true" (sortFunction)="customSort($event)" [customSort]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10, 25, 50]"
  [scrollable]="true" scrollHeight="calc(80vh - 200px)" [styleClass]="'p-datatable-sm'"
  [globalFilterFields]="globalFilterFields" [resizableColumns]="true"
  [reorderableColumns]="true" [columns]="selectedColumns">

  <ng-template pTemplate="caption">
    <div class="flex">
      <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input #filterInput pInputText type="text" (input)="dt1.filterGlobal(filterInput.value, 'contains')"
          placeholder="Search keyword" />
      </span>
      <p-multiSelect class="to-end" [options]="columnOptions" [(ngModel)]="selectedColumns"
        selectedItemsLabel="{0} columns selected" [style]="{'min-width': '250px'}"
        placeholder="Choose Columns" optionLabel="name"></p-multiSelect>
    </div>

  </ng-template>

  <ng-template pTemplate="header" let-app>
    <tr>
      <th pSortableColumn="name" pResizableColumn [style]="{ 'width': '50px' }">
        <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
        Name
        <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="type" [style]="{ 'width': '50px' }">
        <p-columnFilter field="type" matchMode="equals" display="menu">
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-dropdown [ngModel]="value" [options]="types" (onChange)="filter($event.value)" placeholder="Any">
              <ng-template let-option pTemplate="item">
                @if (isLibrary(option.value)) {
                <p-tag value="{{option.value | lowercase}}" severity="warning"></p-tag>
                } @else {
                <p-tag value="{{option.value | lowercase}}" severity="success"></p-tag>
                }
              </ng-template>
            </p-dropdown>
          </ng-template>
        </p-columnFilter>
        Type
        <p-sortIcon field="type"></p-sortIcon>
      </th>
      @for (column of selectedColumns; track $index) {
      <th pSortableColumn="{{column.path}}" [style]="{ 'width': '50px' }" pReorderableColumn pResizableColumn>
        <p-columnFilter type="text" field="{{column.path}}" display="menu"></p-columnFilter>
        {{column.name}}
        <p-sortIcon field="{{column.path}}"></p-sortIcon>
      </th>
      }
      <th style="width: 5rem">Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-app>
    <tr>
      <td>
        <a class="name-link" href="{{ app.location }}" target="_blank">{{ app.name }}</a>
      </td>
      <td>
        @if (isLibrary(app.type)) {
        <p-tag value="{{app.type | lowercase}}" severity="warning"></p-tag>
        } @else {
        <p-tag value="{{app.type | lowercase}}" severity="success"></p-tag>
        }
      </td>
      @for (column of selectedColumns; track $index) {
      <td [style]="{ 'text-wrap': 'wrap' }">
        {{getData(app, column)}}
        <!-- {{app.tags[tag]}} -->
      </td>
      }
      <td>
        <button type="button" pButton pRipple icon="pi pi-window-maximize" (click)="showApplication(app)"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      In total there are {{data.applications ? data.applications.length : 0 }} applications.
    </div>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="7">No applications found.</td>
    </tr>
  </ng-template>
</p-table>
}
@case (2) {
<app-project-topology [data]="data" [type]="TopologyTypeEnum.MICROSERVICES"></app-project-topology>
}
@case (3) {
<app-project-topology [data]="data" [type]="TopologyTypeEnum.DEPENDECIES"></app-project-topology>
}
}

<p-sidebar [(visible)]="sidebarVisible" position="right" fixedInViewport>
  <h3>Sidebar</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</p-sidebar>
<!-- </div> -->