$fontColor: rgba(255, 255, 255, 0.87);

p-table {
    width: 100%;
}

app-project-topology {
    width: 100%;
}

.p-overlaypanel {
    top: 100px;
}

.center {
    text-align: center;
}

.name-link {
    color: $fontColor;
    text-decoration: none;
}
